body {
    margin: 0 ;
    font-family: Open Sans;
    background-image: url(../../assets/img/3626307.jpg);
    display: flex;
    
}



.img_banner {
    width: 70%;
    padding-left: 100px;
}

h1, h3 {
    color: white;
}

h1 {
    font-size: 3rem;
}


.text_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.container {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    justify-content: space-between;
    margin: auto;
    
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}