/* .container_top_global {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
    font-size: small;
} */
h4{
    color: #1712A6;
    font-size: 12px;
}
.container_top_global{
    width: 98%;
    row-gap: 4px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0%;
}

.card_resum_red {
    display:flex;
    justify-content: flex-start
    align-items: center;
    width:264px;
    gap:20px;
    background-color: rgba(224, 152, 152, 0.223);
    border-radius: 5px;
    
}

.card_resum_blue {
    display:flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    width:264px;
    background-color: rgba(14, 171, 238, 0.09);
    border-radius: 5px;
   
}

.card_resum_green {
    display:flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    width: 264px;
    background-color: rgba(16, 205, 101, 0.154);
    border-radius: 5px;
    
}

.card_resum_orange {
    display:flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    width: 264px;
    background-color: rgba(246, 122, 33, 0.179);
    border-radius: 5px;
   
}

h6 {
    align-self: center;
}

.card_resum_chip {
    font-size:x-small;
    color: gray;
    background-color: white;
    padding: 2%;
    height: 30%;
    width: auto;
    border-radius: 2px;
    align-self: center;
    text-align: center;
}

.card_resum_number {
    font-size:medium;
    font-weight: bold;
    color: black;
}

.card_resum_number_red {
    font-size:medium;
    font-weight: bold;
    color: red;
}

.card_resum_number_blue {
    font-size:medium;
    font-weight: bold;
    color: blue;
}

.card_resum_number_green {
    font-size:medium;
    font-weight: bold;
    color: #AFD971;
}

.card_resum_number_orange {
    font-size:medium;
    font-weight: bold;
    color: orange;
}
.img_empty{
    width: 0px;
}