.container_global_top_ten_column{
    box-shadow: 0 0 5px rgba(208, 78, 78, 0.2);
   
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 1%;
}

h3{
    align-self: flex-start;
}

.container_top_ten_10title{
    margin: 5% 7%;
    align-self: flex-start;
    color: #1712A6;
}