.container_global_top_ten_column{
    box-shadow: 0 0 5px rgba(208, 78, 78, 0.2);
    /* background-color: pink; */
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    padding: 2% 1%;
}

h3{
    margin: 10% 0% 0% 7%;
    align-self: flex-start;
}
.container_top_ten_10title{
    margin: 5% 17%;
    align-self: flex-start;
}