body {
    margin: 0 ;
    font-family: Open Sans;
    background-color: darkblue;
}

.nav {
    display: flex;
    color: white;
    font-size: medium;
    width: 90%;
    position: fixed;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

#dropdown {
    width: 59%;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: medium;
}

.divButton {
    display: flex;
    justify-content: end;
}

.btn {
    background-color: darkblue;
    color: white;
    width: 7rem;
    height: 2.5rem;
    border-radius: 15px;
    border-color: darkblue;
    font-size: medium;
}



