header {
    display: flex;
    flex-direction: column;
    
}

.logo_navbar{
    width: 40px;
    height: 40px;
   
}

nav {
    display: flex;
    flex-direction: column;
   
}

a{
    padding: 7px;
}

.icon:hover {
    background-color: #212875;
    stroke: white;

}