.img_cards_tracker2{
    width: 10%;
}

.container_body_tracker2{
    width: 80%;
    display: column;
}

.container_dropdown_data{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
}
.container_cards_data_countries{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 1%;
    background-color: aqua;
}

.card_data_countries_tracker2{
     display: column;
     width: 50%;
     padding: 1%;
     background-color: rgb(224, 224, 235);
}
.card_data_countries_tracker2_blue{
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 0, 17);
}
.img_cards_tracker2{
    position: absolute;

}